
/*
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Black Han Sans', sans-serif;
font-family: 'Jua', sans-serif;
font-family: 'Song Myung', serif;
*/
*{margin:0;padding:0;}
.slide ul,li{list-style:none;}
.slide{height:650px; width:1920px;left:-460px;overflow:hidden;position:relative;}
.slide ul{width:calc(100% * 4);display:flex;transition:1s;}
.slide li{width:calc(100% / 4);height:650px;}
.slide li:nth-child(1){background-image: url("img/movie1_bg.jpg");}
.slide li:nth-child(2){background-image: url("img/movie2_bg.jpg");}
.slide li:nth-child(3){background-image: url("img/movie3_bg.jpg");}
.slide li:nth-child(4){background-image: url("img/movie5_bg.jpg");}
.slide input{display:none;}
.slide .bullet{position:absolute;bottom:20px;left:0;right:0;text-align:center;z-index:10;}
.slide .bullet label{width:10px;height:10px;border-radius:10px;border:2px solid #666;display:inline-block;background:#fff;font-size:0;transition:0.5s;cursor:pointer;}
/* 슬라이드 조작 */
#pos1:checked ~ ul{margin-left:0;}
#pos2:checked ~ ul{margin-left:-100%;}
#pos3:checked ~ ul{margin-left:-200%;}
#pos4:checked ~ ul{margin-left:-300%;}
/* bullet 조작 */
#pos1:checked ~ .bullet label:nth-child(1),
#pos2:checked ~ .bullet label:nth-child(2),
#pos3:checked ~ .bullet label:nth-child(3),
#pos4:checked ~ .bullet label:nth-child(4){background:#666;}

.background-black{
    position: absolute;
    top:0px;
    left:0px;
    width:1920px;
    height:800px;
    background-color:black;
}
.background-skyblue{
    position: absolute;
    top:1346px;
    left:0px;
    width:1920px;
    height:700px;
    z-index: -95;
    background-color:#ebfffc;
    
}


*{box-sizing: border-box;}
/*div{border:1px solid black;}*/
body{
    overflow-x: hidden;
    margin:0px;
    padding: 0px;
    font-family: 'Nanum Gothic', sans-serif;
}
.wrapper{
    margin:auto;
    width:1000px;
    height:2000px;
}

.sidebar{
    padding-top:10px;
    margin: auto;
    text-align: center;
    position: fixed;
    width:50px;
    height:300px;
    border:1px solid black;
    background-color: white;
    border-radius:10px;
    left:10px;
    top:600px;
    z-index:20;
}

.header{
    position: relative;
    z-index: 10;
    height:100px;
}
.header > div{
    z-index: 10;
    float:left;
    height:100px;
}
.logo{
    text-align: center;
    line-height: 100px;
    color:white;
    font-size:20pt;
    font-family: 'Black Han Sans';
    width:15%;
}
.navi{
    z-index: 10;
    width:70%;
    height:100%;
}
.navi_menu{
    z-index: 10;
    margin:0px;
    padding:0px;
    height:100%;
    display:block;
}

.navi_menu>li{
    z-index: 10;
    float:left;
    font-weight: 700;
    font-size:12pt;
    list-style-type: none;
    width:16.6%;
    height:100%;
    text-align: center;

    background-color:#000000;
    color:#ffffff;
}

.navi_menu>li>a{
    z-index: 10;
    color:#ffffff;
    width:100%;
    line-height: 100px;
    height:100%;

    text-decoration: none;
    display:block;
}

.navi_menu>li>a:hover{
    background-color:orange;
}



.navi_menu>li:hover>.s_menu{

    display:block;
    width:100%;
}
.s_menu{
    z-index: 10;
    display: none;
    padding: 0;
    margin:0;
    opacity: 0.8;
}

.s_menu>ul{
    z-index: 10;
    padding: 0px;
    margin: 0px;
    font-size:10pt;
    text-decoration: none;
    list-style-type: none;

}

.s_menu>li{
    z-index: 10;
    position:absolute;
    background-color:balck;
    text-decoration: none;
    list-style-type: none;
    background-color:black;

}

.s_menu > ul li > a:hover{
    background-color: dodgerblue;

}

.s_menu ul li > a {
    padding:5px;
    color:white;
    display: block;
    text-decoration: none;
    list-style-type: none;
    background-color:black;
}


.re{
    width:15%;
    height: 100%;
    padding:20px;
    position: relative;
    line-height: 75px;

}
.loginmenu{
    height: 100%;
    position: relative;
}
.loginarea{
    width:250px;
    height:130px;
    font-size:9pt;
    font-weight: 700;
    line-height: 15pt;
    float:left;

    background-color:darkgray;
    opacity: 0.8;

}
.logintitle{
    width:100%;
    text-align: center;
    background-color:black;
    color:white;
}
.input_area{
    width:160px;
    line-height: 35px;
    height:40px;
    padding-left: 10px;
}




.login_button{
    position: relative;
    left: 170px;
    width:65px;
    top:-70px;

}
.loginbt{
    width:60px;
    height:60px;
    background-color:black;
    color:white;
    border-radius: 10px;
}
.icon{
    list-style-type: none;
    float:left;

}
.icon_1{
    width:50px;
    float:left;
}
.icon > li:hover > .icon_1_1 {
    display:block;
}

.icon_1_1{

    position: relative;
    left:-50px;
    display:none;
}
.icon_1_1 ul {
    list-style-type: none;
    float: left;
    position : relative;
}

.join_area{
    position : relative;
    top:-60px;
    overflow: hidden;
    margin: 0px;
    padding-left: 10px;
    line-height: 8pt;
    width:220px;
    height:22px;
    font-size:8pt;
    left:10px;
}
.searchbar{
    background-color:darkgray;
    opacity: 0.8;
    line-height: 10pt;
    padding: 5px;
}

.join_area > a{
    color:black;
}
.mini_icon{
    width:25px;
}


.contents{position:relative;}
.headline{position:relative;
    height:695px;}
/*
.headline_movie{
width:1920px;
position: absolute;
top: 0; right: 0; bottom: 0; left: 0;
z-index: -99;
}
*/
.mv_chart{
    position: absolute;
    top:350px;
    left:15px;
    z-index:100;
    list-style-type: none;
}
.mv_card{
    float:left;
    padding: 10px;
}
/*
.mv_card ul{
list-style-type: none;
opacity: 0.8;
width:1940px;
position: absolute;
top: -521px; left: -479px;
z-index: -99;
height: 800px;
overflow: hidden;
}
.mv_card ul li img{
width:1920px;
}

.c1 ul li {
display:block;

}

.c2 ul li {
display:none;

}
.c3 ul li {
display:none;
}
.c4 ul li {
display:none;
}
.c5 ul li {
display:none;
}
*/


.magazine{position: relative;
    margin:auto;
    height:550px;
    top:100px;
}
.magazine_title{
    line-height: 35pt;
    font-family: 'Song Myung', serif;
    font-size:30pt;
    text-align: center;
}
.magazine a{
    color:black;
    text-decoration: none;
}
.magazine_list{
    position: relative;
    left:30pt;
    margin:auto;
}
.mg{
    margin:auto;
    padding:15px;
    width:30%;
    float:left;
}
.mg img{

    width:100%;
}

.new{
    font-size:11pt;
    text-decoration: underline;
}
.mg_tt{
    font-size:18pt;
    font-family: 'Jua', sans-serif;
    font-weight: 500;
}
.mg_tmi{
    font-size:9pt;
    color:#929292;
}
.events{
    position: relative;
    background-color:#ebfffc;
    margin:auto;
    height:700px;
    }
.event_title{
    background-image:url(img/event_bg.png);
    background-repeat: no-repeat;
    line-height: 60pt;
    font-family: 'Song Myung', serif;
    font-size:30pt;
    text-align: center;

}
.eventlist{
    position: relative;
    margin:auto;
    float:left;
    display:inline-block;
    padding:20pt;
    line-height: 10px;
}
.b_event{
    position: relative;
    padding:20pt;
    line-height: 10px;
    top: 30px;
    left:100px;
}
.s_event{
    position: relative;
  padding:20pt;
    line-height: 10px;
    left:150px;
}
.b_event img{
    width:300px;
}
.s_event img{
    width:200px;
}

.movies{position: relative;}
.movies_trailer{
    margin: auto;
    position: absolute;
    left:-150px;
    top:2100px;
}
.trailers_title{
    position: absolute;
     line-height: 35pt;
    top:2000px;
    left: 350px;
    font-family: 'Song Myung', serif;
    font-size:30pt;
    text-align: center;
}


.movie_box{
    position:relative;
    left:-300px;
    width:1920px;
    height:700px;
    background-image:url(img/cinema.jpg);
    background-size: auto;
    margin-bottom: 50px;
    
}
.movie_box iframe{
    position: relative;
    left:450px;
    width:1000px;
    height:480px;
    top:65px;
    margin: auto;
}

.sns-title{
    text-align: center;
    font-size:35pt;
    font-family: 'Song Myung', serif;
}
.sns{
    text-align: center;
    position: absolute;
    width:650px;
    left:600px;
    top:4500px;
height:600px;}

.notice{position: relative;}
.infomation{position: absolute;
    
    top:5100px;
width:1000px;
  
}

.info_icon{
    margin-top:30px;
    margin-bottom: 50px;
    width:100%;
    text-align: center;
   
    
}

.info_icon ul li{
    float:left;
    width:16.6%;
  
}

.info_icon li a{
    text-decoration: none;
    padding: 20px;
    color:black;
    text-align: center;
    font-weight: bolder;
}

.footer{position:absolute;
    top:5250px;
width:1000px;}
.company{position: relative;
width:100%;
    padding-bottom: 50px;
}
.cp_1{
    float:left;
    width:30%;
    font-size:20pt;
    font-family: 'Black Han Sans';
}
.cp_2{
    width:70%;
    float:left;
    font-size:9pt;
}

.cs{position: relative;}